fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
prometheus-fastapi-instrumentator==7.0.0
python-multipart
SQLAlchemy==2.0.34
requests>=2.32.0
psycopg2-binary>=2.9.9

# Локальные модели
faster-whisper>=1.0.3

# Auth
passlib[bcrypt]>=1.7.4
PyJWT>=2.8.0
bcrypt==3.2.0
